
/* Global styles 
--------------------------*/
body {
    color: #2C3639;
}
img {
    width: 300px;
}
a {
    color: #DCD7C9;;
}
a:hover {
    text-decoration: none;
}

/* Profile
--------------------------*/
header {
    background: #2C3639;
    color: #DCD7C9;
}
/* Projects
--------------------------*/
.projects {
    background: #ccc5b9;
}
.projects a {
    color: #9c6cc3;
}
.projects .btn {
    color: #b75154;
    background: #bdc39d;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects .btn:hover {
    background: rgba(189, 195, 157, .8);
}
/* Work Experience 
--------------------------*/
.work-experience {
    background: #c9cba3;
}
/* Education 
--------------------------*/
.education {
    background: #585123;
}
/* Contact info
--------------------------*/
footer {
    background: #2C3639;
    color: #DCD7C9;
}
